@blue: #5aaaec;

@wh: #ffffff;

@font: 'Open Sans', sans-serif;

.stub {

    &__bg {
        background-color: @blue;
        padding         : 90px 0;
        // overflow     : hidden;

        @media (max-width:575px) {
            padding: 40px 0;
        }
    }

    &__logo {
        margin-bottom: 120px;
        text-align   : center;

        @media (max-width:767px) {
            margin-bottom: 60px;
        }

        @media (max-width:575px) {
            margin-bottom: 30px;
        }
    }

    &__logo-img {

        // margin: 0 auto;
        max-width: 100%;
        height   : auto;
    }

    &__content {
        display       : block;
        margin        : 0 auto 115px;
        max-width     : 1216px;
        font-family   : @font;
        font-size     : 36px;
        font-weight   : bold;
        line-height   : normal;
        letter-spacing: 0.2px;
        text-align    : center;
        color         : @wh;

        @media (max-width:767px) {
            margin   : 0 auto 70px;
            font-size: 30px;
        }

        @media (max-width:575px) {
            margin   : 0 auto 30px;
            font-size: 22px;
        }

    }

    &__wrap {
        display        : flex;
        align-items    : center;
        justify-content: center;
        flex-wrap      : wrap;
    }

    &__block {
        display       : flex;
        flex-direction: column;
        align-items   : center;

        flex     : 0 0 28%;
        max-width: 28%;

        @media (max-width: 1300px) {
            flex     : 0 0 33%;
            max-width: 33%;
        }

        @media (max-width: 991px) {
            flex         : 0 0 100%;
            max-width    : 100%;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__flag {

        margin-bottom: 33px;
        max-width    : 100%;
        height       : auto;

        @media (max-width:575px){
            margin-bottom: 20px;
         }
    }

    &__link {
        position       : relative;
        text-decoration: none;
        font-family    : @font;
        font-size      : 30px;
        font-weight    : bold;

        color: @wh;



        &::after {
            content : '';
            position: absolute;
            bottom  : -5px;
            right   : 0;
            left    : 0;
            width   : 0;
            height  : 3px;

            background-color: @wh;

            transition: all 0.5s;
        }

        &:hover {
            &::after {
                width: 100%;
            }
        }

        @media (max-width:1299px) {
            font-size: 22px;
        }
    }

    &__country {
        margin-bottom : 12px;
        line-height   : normal;
        letter-spacing: normal;
        font-family   : @font;
        font-size     : 33px;
        font-weight   : normal;

        color: @wh;

        @media (max-width:575px){
            font-size: 22px;
         }
    }

}