.stub__bg {
  background-color: #5aaaec;
  padding: 90px 0;
}
@media (max-width: 575px) {
  .stub__bg {
    padding: 40px 0;
  }
}
.stub__logo {
  margin-bottom: 120px;
  text-align: center;
}
@media (max-width: 767px) {
  .stub__logo {
    margin-bottom: 60px;
  }
}
@media (max-width: 575px) {
  .stub__logo {
    margin-bottom: 30px;
  }
}
.stub__logo-img {
  max-width: 100%;
  height: auto;
}
.stub__content {
  display: block;
  margin: 0 auto 115px;
  max-width: 1216px;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
}
@media (max-width: 767px) {
  .stub__content {
    margin: 0 auto 70px;
    font-size: 30px;
  }
}
@media (max-width: 575px) {
  .stub__content {
    margin: 0 auto 30px;
    font-size: 22px;
  }
}
.stub__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.stub__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 28%;
  max-width: 28%;
}
@media (max-width: 1300px) {
  .stub__block {
    flex: 0 0 33%;
    max-width: 33%;
  }
}
@media (max-width: 991px) {
  .stub__block {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }
  .stub__block:last-child {
    margin-bottom: 0;
  }
}
.stub__flag {
  margin-bottom: 33px;
  max-width: 100%;
  height: auto;
}
@media (max-width: 575px) {
  .stub__flag {
    margin-bottom: 20px;
  }
}
.stub__link {
  position: relative;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
}
.stub__link::after {
  content: '';
  position: absolute;
  bottom: -5px;
  right: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #ffffff;
  transition: all 0.5s;
}
.stub__link:hover::after {
  width: 100%;
}
@media (max-width: 1299px) {
  .stub__link {
    font-size: 22px;
  }
}
.stub__country {
  margin-bottom: 12px;
  line-height: normal;
  letter-spacing: normal;
  font-family: 'Open Sans', sans-serif;
  font-size: 33px;
  font-weight: normal;
  color: #ffffff;
}
@media (max-width: 575px) {
  .stub__country {
    font-size: 22px;
  }
}
